---
    import { client } from '../../tina/__generated__/client'
    import Layout from "../layouts/Layout.astro";
    import Section from "../components/Section.astro";
    import Concert from "../components/Concert.astro";
    const data = await client.queries.concerts({ relativePath: 'concerts.md' })
    const futureConcerts = data.data.concerts.concerts.filter(({date}) => new Date(date) > new Date());
    const pastConcerts = data.data.concerts.concerts.filter(({date}) => new Date(date) < new Date());
---
<Layout title="SOP8 - Koncerty">
    <Section title="Koncerty">
        {futureConcerts.length ? (
            <div class="concertSection">
                <h2 class="title">Nadcházející koncerty</h2>
                {futureConcerts.map((concert) => <Concert isFuture concert={concert} />)}
            </div>
        ) : null}
        <div class="concertSection">
            <h2 class="title">Odehrané koncerty</h2>
            {pastConcerts.map((concert) => <Concert concert={concert} />)}
        </div>
    </Section>
</Layout>
<style>
    .title {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
        font-weight: 500;
    }

    .concertSection {
        + .concertSection {
            margin-top: 40px;
        }
    }
</style>