<h1 class="title"><slot/></h1>
<style>
    .title {
        margin-bottom: 60px;
        text-align: center;
        font-size: 30px;
        line-height: 45px;
        font-weight: 600;
    }
</style>